.login{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 70px 0 70px 0 ;    
}
.loginPage{
    height: 80vh;
    max-width: 80%;  
    background-color: #F5F5F5;
}
.loginPage .bg-image {
    background-image: url('../Assets/image.png');
    background-size: cover;
    background-position: center;
}

.login-form {
width: 100%;
max-width: 400px;
padding: 15px;
/* background: #fff; */
border-radius: 10px;
/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.login-form h2 {
margin-bottom: 30px;
}
.form-group input{
    /* margin: 20px; */
    width: 300px;
    border-radius: 40px;
    border: none;
    box-shadow: 2px 2px 8px #c8c5c5;
}
.login-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login-form button{
    font-size: 20px;
    margin-top: 20px;
    width: 150px;
    border-radius: 40px;
    border: none;
    box-shadow: 2px 2px 8px #c8c5c5;
    background-color: #37B943;
    color: #F5F5F5;
    font-weight: 600;
}
.login-form .links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.login-form .links a{
    text-decoration: none;
    color: #37B943;
    font-weight: 600;
}
.loginPage .links p{
    /* width: 300px; */
    border-top: 4px solid #37B943;
    padding-top: 20px;
    margin-top: 20px;
}